<header class="navbar navbar-static-top">
  <div class="logo" id="logo">
    <%= link_to image_tag('logo.png'), 'root_path' %>
  </div>

  <div class="menu-bar">
    <ul>
      <li><a href="">Who are we</a></li>
      <li><a href="">Search</a></li>
      <li><a href="">
        <%= current_order.total_items %> / <%= number_to_currency current_order.total_before_tax %>
      </a></li>
    </ul>
  </div>
</header>

