html {
  min-height: 100%;
  position: relative;

  body{
    background-color: $background-color ;
  }
}


// LINKS
// ----------------------------------------------------------------------------

a {
  color: $grey;
  &:visited {
  }
  &.active {
  }
  &:hover {
    color: $ommi-green;
  }
}

.btn-primary {
  border-radius: 0px;
  border-color: white;
  color: white;
  background-color: rgba(0,0,0,0);

  &:hover {
    color: black;
    background-color: white;
    border-color: white;
  }
}

