html {
  min-height: 100%;
  position: relative;

  body{
    background-color: #FCFFEB;
  }
}


// LINKS
// ----------------------------------------------------------------------------

a {
  color: $grey;
  &:visited {
  }
  &.active {
  }
  &:hover {
    color: $ommi-green;
  }
}

