<% provide(:title, 'Ommi') %>

<div class="all-products-description">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
</div>


<div class="container">
  <% @products.each do |category, products| %>
    <ul>
      <% products.each do |product| %>
      <li class="product-item col-md-4">
        <div class="product-thumb">
          <%= link_to product_path(product) do %>
            <%= image_tag (product.default_image.path) %>
          <% end %>
          <div class="product-details">
            <h4><%= link_to product.name, product_path(product.permalink) %></h4>
            <button class="btn btn-primary">
              <p>Price: <%= number_to_currency product.price %></p>
            </button>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  <% end %>
</div>
